
body {
    height: 100vh;  /* sayfanın tamamı */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
}
.clock{
   position: relative;
    width: 40rem;
    height: 40rem;
    border-radius:50% ;
    border:5px solid black;
    background: url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) center;
    background-repeat:no-repeat;
    background-size: 90%;
    background-color: aliceblue;
}
.secs{
    position: absolute;
    top:50%;
    left: 50%;
    height: 12rem;
    width: .1rem;
    background-color: red;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}
.mins{
    position: absolute;
    top:50%;
    left: 50%;
    height: 10rem;
    width: .3rem;
    background-color: black;
    transform: translateX(-50%);
    border-radius: 20px;
    transform-origin: 25% 0;

}
.hours{
    position: absolute;
    top:50%;
    left: 50%;
    height: 8rem;
    width: .5rem;
    background-color: black;
    transform: translateX(-50%);
    transform-origin: 50% 0;

}
.dot{
    position: absolute;
    top:50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: black;
    transform: translateX(-50%);

}
